<h1>Carrito</h1>

<h2>Lista de Productos</h2>
<div id="productContainer"></div>
<button type="submit" onclick="finalizarCompra()">Finalizar compra</button>

<script src="/js/cart.js"></script>
<script src="/js/products.js"></script>