<form action="" id="formForgot">
    <h4>Ingrese su correo electrónico y su nueva contraseña</h4>
    <div>
        <label for="input_email2">Email</label>
        <input type="text" name="email" placeholder="email" id="input_email2">
    </div>
    <div>
        <label for="input_password2">Password</label>
        <input type="password" name="password" placeholder="Password" id="input_password2">
    </div>
     <button type="submit">Enviar</button>
</form>
<script src="/js/forgot.js"></script>