<h1>Login</h1>

<div class="containerForm">
  <input type="text" name="email" placeholder="email" id="email">
  <input type="password" name="password" placeholder="Password" id="password">
  <button id="send">Login</button>
</div>

<script src="/js/login.js"></script>