<form action="" id="formMailing">
    <h4>Ingrese su correo electrónico y le enviaremos el mail de recuperación de contraseña</h4>
    <div>
        <label for="input_email">Email</label>
        <input type="text" name="email" placeholder="email" id="input_email">
    </div>
     <button type="submit">Enviar</button>
</form>
<script src="/js/mailing.js"></script>