<h1>Productos</h1>

<h2>Lista de Productos</h2>
<div id="productContainer"></div>

<div class="controller-pagination">
    <button id="prevPage-button">prev</button>
    <input id="inputPage" type="number" value="1">
    <button id="nextPage-button">next</button>
</div>

<script src="/js/products.js"></script>