<h1>Real Time Products</h1>

<label for="title">Title</label><input id="inputTitle" name="title" type="text">
<label for="price">Price</label><input id="inputPrice" name="price" type="text">
<button id="btnEnviar">Agregar producto</button>

<h3>Productos</h3>
<div id="productos"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>