<h1>Registro</h1>

<form action="" id="formRegister">
  <div>
    <label for="input_name">Name</label>
    <input type="text" placeholder="Name" id="input_name" />
  </div>
  <div>
    <label for="input_email">Email</label>
    <input type="email" placeholder="Email" id="input_email" />
  </div>
  <div>
    <label for="input_password">Password</label>
    <input type="password" placeholder="Password" id="input_password" />
  </div>
  <button type="submit">Enviar</button>
</form>
<div>
  <p>¿Ya tienes cuenta?</p>
  <button id="redirigirLogin">Ir a Login</button>
</div>
<a href="/api/sesiones/github">
  <button style="margin-top: .5em">Entrar con Github</button>
</a>

<script src="/js/register.js"></script>